WebSite7/App_WebReferences/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DownLoadDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownLoadDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownLoadDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TakeAcon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TakeAconResponse">
        <s:complexType />
      </s:element>
      <s:element name="TakeActi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TakeActiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TakeActiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchGRD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Search2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchGRDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchGRDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGRD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGRDResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateGRD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGRDResponse">
        <s:complexType />
      </s:element>
      <s:element name="TakeTickets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Selected" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TakeTicketsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TakeTicketsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TakeUsers">
        <s:complexType />
      </s:element>
      <s:element name="TakeUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TakeUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovies">
        <s:complexType />
      </s:element>
      <s:element name="GetMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoviesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserControlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserControlResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCapitery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCapiteryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCapiteryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCities">
        <s:complexType />
      </s:element>
      <s:element name="GetCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Clients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Clients">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PositionID1" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityID1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lname1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fname1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeID1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditNumber1" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownLoadDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:DownLoadDataSet" />
  </wsdl:message>
  <wsdl:message name="DownLoadDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:DownLoadDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="TakeAconSoapIn">
    <wsdl:part name="parameters" element="tns:TakeAcon" />
  </wsdl:message>
  <wsdl:message name="TakeAconSoapOut">
    <wsdl:part name="parameters" element="tns:TakeAconResponse" />
  </wsdl:message>
  <wsdl:message name="TakeActiSoapIn">
    <wsdl:part name="parameters" element="tns:TakeActi" />
  </wsdl:message>
  <wsdl:message name="TakeActiSoapOut">
    <wsdl:part name="parameters" element="tns:TakeActiResponse" />
  </wsdl:message>
  <wsdl:message name="SearchGRDSoapIn">
    <wsdl:part name="parameters" element="tns:SearchGRD" />
  </wsdl:message>
  <wsdl:message name="SearchGRDSoapOut">
    <wsdl:part name="parameters" element="tns:SearchGRDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGRDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGRD" />
  </wsdl:message>
  <wsdl:message name="DeleteGRDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGRDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGRDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGRD" />
  </wsdl:message>
  <wsdl:message name="UpdateGRDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGRDResponse" />
  </wsdl:message>
  <wsdl:message name="TakeTicketsSoapIn">
    <wsdl:part name="parameters" element="tns:TakeTickets" />
  </wsdl:message>
  <wsdl:message name="TakeTicketsSoapOut">
    <wsdl:part name="parameters" element="tns:TakeTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="TakeUsersSoapIn">
    <wsdl:part name="parameters" element="tns:TakeUsers" />
  </wsdl:message>
  <wsdl:message name="TakeUsersSoapOut">
    <wsdl:part name="parameters" element="tns:TakeUsersResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="GetMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserControlSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserControl" />
  </wsdl:message>
  <wsdl:message name="GetUserControlSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserControlResponse" />
  </wsdl:message>
  <wsdl:message name="GetCapiterySoapIn">
    <wsdl:part name="parameters" element="tns:GetCapitery" />
  </wsdl:message>
  <wsdl:message name="GetCapiterySoapOut">
    <wsdl:part name="parameters" element="tns:GetCapiteryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="DownLoadDataSet">
      <wsdl:input message="tns:DownLoadDataSetSoapIn" />
      <wsdl:output message="tns:DownLoadDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TakeAcon">
      <wsdl:input message="tns:TakeAconSoapIn" />
      <wsdl:output message="tns:TakeAconSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TakeActi">
      <wsdl:input message="tns:TakeActiSoapIn" />
      <wsdl:output message="tns:TakeActiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchGRD">
      <wsdl:input message="tns:SearchGRDSoapIn" />
      <wsdl:output message="tns:SearchGRDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGRD">
      <wsdl:input message="tns:DeleteGRDSoapIn" />
      <wsdl:output message="tns:DeleteGRDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGRD">
      <wsdl:input message="tns:UpdateGRDSoapIn" />
      <wsdl:output message="tns:UpdateGRDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TakeTickets">
      <wsdl:input message="tns:TakeTicketsSoapIn" />
      <wsdl:output message="tns:TakeTicketsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TakeUsers">
      <wsdl:input message="tns:TakeUsersSoapIn" />
      <wsdl:output message="tns:TakeUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <wsdl:input message="tns:GetMoviesSoapIn" />
      <wsdl:output message="tns:GetMoviesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserControl">
      <wsdl:input message="tns:GetUserControlSoapIn" />
      <wsdl:output message="tns:GetUserControlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCapitery">
      <wsdl:input message="tns:GetCapiterySoapIn" />
      <wsdl:output message="tns:GetCapiterySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesSoapIn" />
      <wsdl:output message="tns:GetCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownLoadDataSet">
      <soap:operation soapAction="http://tempuri.org/DownLoadDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeAcon">
      <soap:operation soapAction="http://tempuri.org/TakeAcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeActi">
      <soap:operation soapAction="http://tempuri.org/TakeActi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchGRD">
      <soap:operation soapAction="http://tempuri.org/SearchGRD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGRD">
      <soap:operation soapAction="http://tempuri.org/DeleteGRD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGRD">
      <soap:operation soapAction="http://tempuri.org/UpdateGRD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeTickets">
      <soap:operation soapAction="http://tempuri.org/TakeTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeUsers">
      <soap:operation soapAction="http://tempuri.org/TakeUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://tempuri.org/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserControl">
      <soap:operation soapAction="http://tempuri.org/GetUserControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapitery">
      <soap:operation soapAction="http://tempuri.org/GetCapitery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownLoadDataSet">
      <soap12:operation soapAction="http://tempuri.org/DownLoadDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeAcon">
      <soap12:operation soapAction="http://tempuri.org/TakeAcon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeActi">
      <soap12:operation soapAction="http://tempuri.org/TakeActi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchGRD">
      <soap12:operation soapAction="http://tempuri.org/SearchGRD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGRD">
      <soap12:operation soapAction="http://tempuri.org/DeleteGRD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGRD">
      <soap12:operation soapAction="http://tempuri.org/UpdateGRD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeTickets">
      <soap12:operation soapAction="http://tempuri.org/TakeTickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeUsers">
      <soap12:operation soapAction="http://tempuri.org/TakeUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <soap12:operation soapAction="http://tempuri.org/GetMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserControl">
      <soap12:operation soapAction="http://tempuri.org/GetUserControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapitery">
      <soap12:operation soapAction="http://tempuri.org/GetCapitery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap12:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:50076/ServerSide/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:50076/ServerSide/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>